/* Cleaning */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  /*background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(3) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='m25.57 20.66 13.77 13.77-4.91 4.91-13.77-13.77zm13.77 4.91L25.57 39.11l-4.91-4.91 13.77-13.54zm-20-11.14-4.91 4.91L.66 5.57 5.57.66zM5.57 19.34.66 14.43 14.43.66l4.91 4.91z'  stroke-width='1' stroke='none' fill='%2300000010'/><path d='M34.43 19.34 20.66 5.57 25.57.66l13.77 13.77zm-13.77-4.91L34.43.66l4.91 4.91-13.77 13.77zm-1.32 20-4.91 4.91L.66 25.57l4.91-4.91zM5.57 39.34.66 34.43l13.77-13.77 4.91 4.91z'  stroke-width='1' stroke='none' fill='%23e9206300'/></pattern></defs><rect width='800%' height='800%' transform='translate(-117,0)' fill='url(%23a)'/></svg>");*/
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 8vh;
  background-color: white;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 70%;

}

.buttons-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;

}

h1 {
  color: rgb(49, 49, 49);
  font-size: 2.5vh;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 400;
  font-stretch: expanded;
  width: auto;

}

.title {
  display: flex;
  align-items: center;

}

.nav-user-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 300;
  color: rgb(49, 49, 49);
  font-size: 2vh;
  

}

.image-login {
  /*añadir la clase*/

  width: 3vh;
  height: 3vh;
  margin-right: 5px;
  border: 2px solid rgb(53, 53, 53);
  border-radius: 50%;
}

.nav-user-container span {
  font-size: 3.5vh !important;
}

.header-span {
  color: rgb(255, 96, 96);
  font-size: 4vh !important;

}

/*NUEVOOOOOO*/


.appointment-span {
  font-size: 3.5vh;
  position: relative;
  top: 25px;

}

.welcome-text {
  font-size: 2vh;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 400;
  color: rgb(50, 52, 53);
  padding-right: 200px;
  margin-bottom: 30px;
}

.appointments-container span {
  font-size: 3vh !important;
}

.app-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.app-container div {
  width: auto;
  min-width: 20vh;
  height: auto;
  border-radius: 10px;
  /*border: none;*/
}

.dr-app-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.dr-app-container div {
  width: auto;
  min-width: 17vh;
  height: auto;
  border-radius: 10px;
  padding: 20px;

}

.appointment-component {
  padding: 15px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: auto;
}

.appointment-component button {
  float: right;
  font-size: 1.5vh;
}

/*--------*/



.app-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 4vh;

}


/*.app-container div {
  width: auto;
  min-width: 20vh;
  height: auto;
  border-radius: 10px;


}*/

.appointments-container {
  margin: 0vh 15%;
  height: auto;
  padding: 5vh;
  border-radius: 24px;
  background-color: #bdbdbd1e;

}

.appointment-component {

  padding: 15px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: auto;
}

.app-title {
  font-size: 3vh;
  font-family: "Google Sans", Roboto, Arial, sans-serif;

}

.app-title h3 {
  font-weight: 400;
}

.appointments-container>div>span {
  font-size: 4vh !important;
  margin-right: 5px;
}





/*---APP CONTAINER----*/


.app-container div {
  width: auto;
  min-width: 25vh;
  height: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px rgb(209, 209, 209);
  padding: 20px;
}

.app-button-icon {
  font-size: 2.2vh;
  color: rgb(255, 96, 96);
  display: inline-flex;
  align-items: center;
  line-height: 1;
}

.app-name {
  font-size: 2vh;
  font-weight: 500;
  color: #3c4043;
}

.app-speciality {
  font-size: 1.5vh;
  font-style: italic;
  font-weight: 300;
  color: #3c4043;
  margin-bottom: 10px;
}

.app-name-dr {
  font-size: 2vh;
  font-weight: 500;
  color: #3c4043;
  margin-bottom: 10px;
}

.app-speciality-dr {
  font-size: 1.5vh;
  font-style: italic;
  font-weight: 300;
  color: #3c4043;
  
}

.app-date {
  display: flex;
  align-items: center;
  font-size: 1.8vh;
  font-weight: 400;
  color: #3c4043;
  gap: 6px;
  margin-bottom: 5px;
}

.app-date>span {
  font-size: 2vh;
}

.app-time {
  display: flex;
  align-items: center;
  font-size: 1.8vh;
  font-weight: 400;
  color: #3c4043;
  gap: 6px;
  margin-bottom: 10px;

}

.app-time>span {
  font-size: 2vh;
}

/*----------------*/


.current-data-text {
  margin-bottom: 10px;
}

.user-contact-container {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
}



.material-symbols-outlined {
  vertical-align: middle;
  line-height: 1;
}


.user-data-container {

  height: auto;
  padding: 5vh 25% 5vh 25%;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  color: #3c4043;
  background-color: #fff;
  background-size: 100%;


}

.user-data-container h2 {
  font-size: 3.5vh;
  font-weight: 500;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  padding-bottom: 4vh;
}

.user-data-container h3 {}

.data-text {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  margin-top: 10px;
  font-size: 1.8vh;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 208, 0, 0.904);
  border-radius: 10px;
}

.data-text span {
  margin-right: 5px;
}

.user-data-container button {
  margin-top: 30px;
}





/* CSS */
.button-style {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 10px;/*24*/
  border-style: solid;
  border: 2px solid rgb(99, 99, 99);
  /*box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;*/
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  /*transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;*/
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-style:hover {
  background: #F6F9FE;
  color: rgb(255, 96, 96);
}

.button-style:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-style:focus {
  outline: none;
  border: 2px solid rgb(255, 96, 96);
}




.new-app-container {
  background-color: #ffffff00;
  margin: 0 25%;
  padding: 5vh 0;
}

.new-dr-app-container {
  background-color: #ececec85;
  margin: 0;
  padding: 3% 25%;
  border-radius: 0;
}


.speciality-buttons {

  padding: 0px;

}

.speciality-bttn {

  border-radius: 10px;
  padding: 10px;

}

.speciality-bttn span {
  margin-right: 5px;
  color: #292c2e;
  font-size: 2vh !important;
}

.new-app {
  padding: 0;
  gap: 30px;
  /*justify-content: space-between; quitar new-app?*/ 
}

.new-app>div {
  border: #3c40434d solid;
  box-shadow: none;
}

.footer-text {
  color: #757575;
  font-size: 1.4vh;
  margin: 5% 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.appointments-container .free-dr-appointment{
  /*background-color: #a1a1a1 !important;*/
  border: #71787c solid;

}

.help-container{
  text-align: center;
  padding: 10vh 0;
}

.add-app-text {
  font-size: 1.9vh;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 400;
  color: rgb(50, 52, 53);
  padding-right: 200px;
  margin-bottom: 30px;
}

.add-app-text span{
  font-size: 1.8vh;
}

.button-style-free-app{
  border-radius: 10px;
  padding: 0;
}


.add-form{
 
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 18px;
  display:flex;
  gap: 15px;
  text-align: center;
}

label{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.7vh;
  display: flex;
  align-items: center;
  gap: 10px;
}

input, select{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.7vh;
}

.end-text {
  text-align: center;
  font-size: 2vh;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 400;
  color: rgb(50, 52, 53);
  margin-bottom: 30px;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container h2 {
  font-size: 3.5vh;
  font-weight: 500;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  padding-bottom: 4vh;
}

.intro-text {
  text-align: center;
  font-size: 1.7vh;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 300;
  color: rgb(50, 52, 53);
  margin-top: 30px;
  margin-bottom: 15px;
}

.waiting-data{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.waiting-data p{
  font-size: 1.5vh;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  color: rgb(50, 52, 53);
}

.free-app{
  padding: 0;
}

@media (max-width: 950px) {

    .user-data-container{
    padding: 4vh 15%;
    }

    nav{
    height: 20vh;
    }

    .nav-container{
    flex-direction:column;
    }

    .buttons-nav-container{
      flex-direction: column;
    }

    .nav-user-container{
      margin-top: 15px;
    }

    .add-form{
      flex-flow: wrap;
    }

    .end-text{
      margin-left: 10%;
      margin-right: 10%;
       font-size: 2vh;
    }

    .app-container, .dr-app-container{
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      flex-wrap: nowrap;
    }

    .dr-app-container > * {
      flex: 0 0 auto; 
      scroll-snap-align: start; 
    }

    .app-container > *{
      flex: 0 0 auto; 
      scroll-snap-align: start; 
    }

    .appointments-container, .new-dr-app-container, .new-app-container{
      margin: 0;
      padding: 20px;
      border-radius: 0;
    }

    .welcome-text{
      padding: 0;
    }

    .app-title{
      font-size: 2vh;
      margin: 5px;
    }

    .footer-text{
      margin: 5%;
    }

    .free-app{
      padding: 25px;
    }

    .button-style-free-app{
      padding: 5px;
    }

    .speciality-buttons{
      flex-wrap: wrap;
      padding: 5%;
    }

    .new-app > p{
      flex: auto;
    }
    

}


@media (max-width: 400px) {

  .data-text{
    font-size: 1.3vh;
  }

  .user-contact-container h2{
    font-size: 2.5;
  }

}